
 body {
     background: #212529 !important;
 }
 
.navbar,
.navbar-expand-sm,
.navbar-dark,
.bg-dark {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

 /* HEADER */       

.navbar-brand {
    padding-left: 20px;
    background-image: linear-gradient(45deg, blue, red);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: 'Brush Script MT' !important;
    font-size: 80px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
}

.navbar-brand img {
    height: 80px;
    width: 80px;
}


ul {
    letter-spacing: 2px;
}

li {
    margin-right: 20px;
}

/* HERO IMAGE */

.hero {
  height: 100vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 1500px;
    min-width: 100%;
    min-height: 100%;
  } 

  /* ABOUT */

  h2 {
      text-align: center;
      background-color: #fff;
      width: 200px;
      text-align: center;
      margin: auto;
      border-radius: 25px;
      font-family: 'Roboto';
      
      
  }

  .about {
      background-color: #212529;
      padding-top: 30px;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      border: seashell 3px solid;
      border-radius: 40px;
      background: linear-gradient(to right, purple, red);
  }

  .about-heading h2 {
      margin-bottom: 0;
      background-color: #212529;
      padding-top: 50px;
      color: #fff;   
      padding-bottom: 30px;
      font-size: 40px;
  }

  .about-heading {
      background-color: #212529;
  }

  .about p {
      color: #fff;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
  }

  .about-band {
      background-color: #212529;
      margin-bottom: 50px;
      
  }

  /* BAND INFO */

  .container-marketing {
      margin: 0 60px 0 50px;
  }

  .col-md-3 {
      padding: 0 !important;
  }

  .col-md-3 img {
      border: seashell 3px solid;
      border-radius: 40px;
      margin-top: 0;
      display: inline-block;
      margin-left: 80px;
  }

  .col-md-3 p {
      color: #fff;
      text-align: center;
      margin-right: 90px;
      font-family: 'Anton', sans-serif;
      letter-spacing: 2px;
  }

  .col-md-9 {
      padding-top: 5px;
      border: seashell 3px solid;
      border-radius: 40px;
      background: linear-gradient(to right, purple, red);
  }

  .col-md-9 p {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    
  }

  .row {
      margin-bottom: 20px;
  }