.navbar-brand {
    padding-left: 20px;
}

.navbar-brand img {
    height: 80px;
    width: 80px;
}


ul {
    letter-spacing: 2px;
}

li {
    margin-right: 20px;
}

.jumbotron {
  color: white;
  background-image:url(/assets/images/music-concert2.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  height: 100vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 1500px;
    min-width: 100%;
    min-height: 100%;
  } 

  h2 {
      text-align: center;
      background-color: #fff;
      width: 200px;
      text-align: center;
      margin: auto;
      border-radius: 25px;
      font-family: 'Roboto';
      
      
  }

  .about {
      background-color: #212529;
      padding-top: 30px;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      border: seashell 3px solid;
      border-radius: 40px;
  }

  .about-heading h2 {
      margin-bottom: 0;
      background-color: #212529;
      padding-top: 50px;
      color: #fff;   
      padding-bottom: 30px;
      font-size: 40px;
  }

  .about-heading {
      background-color: #212529;
  }

  .about p {
      color: #fff;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }

  .about-band {
      background-color: #212529;
  }