
 body {
     background-color: #212529 !important;
 }
 
 /* HEADER NAVBAR */

.navbar,
.navbar-expand-sm,
.navbar-dark,
.bg-dark {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}      

.home-page .navbar-brand {
    padding-left: 20px;
    background-image: linear-gradient(45deg, blue, red);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: 'Brush Script MT' !important;
    font-size: 80px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
}

.home-page .navbar-brand img {
    height: 80px;
    width: 80px;
}

.news-page .navbar-brand {
    padding-left: 20px;
    background-image: linear-gradient(45deg, #89CFF0, blue);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: 'Brush Script MT' !important;
    font-size: 80px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.news-page .navbar-brand img {
    height: 80px;
    width: 80px;
}

.gallery-page .navbar-brand {
    padding-left: 20px; 
    font-family: 'Brush Script MT' !important;
    font-size: 80px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.gallery-page .navbar-brand img {
    height: 80px;
    width: 80px;
}

.tour-page .navbar-brand {
    padding-left: 20px;
    background-image: linear-gradient(45deg, #AFE1AF, #097969);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: 'Brush Script MT' !important;
    font-size: 80px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.tour-page .navbar-brand img {
    height: 80px;
    width: 80px;
}

ul {
    letter-spacing: 2px;
}

li {
    margin-right: 20px;
}

/* HERO IMAGE */

.hero {
    height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    width: 100%;
    height: 800px;
  } 

.hero-img {
    height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img img {
    width: 100%;
    height: 800px;
    
}

.hero-gallery {
    height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-gallery img {
    width: 100%;
    height: 800px;
}

.hero-tour {
    height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-tour img {
    width: 100%;
    height: 800px;
}

/* HERO IMAGE TEXT */

 .hero-img .center {
      color: #fff;
      font-size: 150px;
      position: absolute;
      bottom: 350px;
      left: 270px;
      font-family: 'Brush Script MT';
  }

  .hero-gallery .center {
      color: #fff;
      font-size: 200px;
      position: absolute;
      bottom: 300px;
      left: 350px;
      font-family: 'Brush Script MT';
  }

  .hero .center {
      color: #fff;
      font-size: 200px;
      position: absolute;
      bottom: 300px;
      left: 350px;
      font-family: 'Brush Script MT';
  }

  .hero-tour .center {
      color: #fff;
      font-size: 200px;
      position: absolute;
      bottom: 300px;
      left: 300px;
      font-family: 'Brush Script MT';
  }

  /* Heading */

  h2 {
      text-align: center;
      background-color: #fff;
      width: 200px;
      text-align: center;
      margin: auto;
      border-radius: 25px;
      font-family: 'Roboto';
      
      
  }

  /* ABOUT BAND SECTION */

  .about {
      background-color: #212529;
      padding-top: 30px;
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      border: seashell 3px solid;
      border-radius: 40px;
      background: linear-gradient(to right, purple, red);
  }

  .about-heading h2 {
      margin-bottom: 0;
      background-color: #212529;
      padding-top: 50px;
      color: #fff;   
      padding-bottom: 30px;
      font-size: 40px;
  }

  .about p {
      color: #fff;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
  }

  .about-band {
      background-color: #212529;
  }

  /* CONTAINER-MARKETING */

  .container-marketing {
      margin: 100px 60px 100px 50px;
  }
  /* CONTAINER-MARKETING COLUMNS */
  .container-marketing .col-md-3 {
      padding: 0 !important;
  }

  .container-marketing .col-md-3 img {
      border: seashell 3px solid;
      border-radius: 40px;
      margin-top: 0;
      display: inline-block;
      margin-left: 30px;
  }

  .container-marketing .col-md-3 p {
      color: #fff;
      text-align: center;
      margin-right: 90px;
      font-family: 'Anton', sans-serif;
      letter-spacing: 2px;
  }

  .container-marketing .col-md-8 {
      padding-top: 5px;
      border: seashell 3px solid;
      border-radius: 40px;
      background: linear-gradient(to right, purple, red);
  }

  .container-marketing .col-md-8 p {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    
  }

  /* ROWS */

  .container-marketing .row {
      margin-bottom: 50px;
  }

  .container-marketing .news .row {
      margin-bottom: 50px;
  }

  .container-fluid {
      padding-left: 0 !important;
  }

  /* NEWS */

  .news .col-md-3 {
    color: #fff;
    padding: 0 50px 0 50px;
    text-align: center;
    border: seashell 3px solid;
    border-radius: 40px;
  }

  .news .col-md-3 h3 {
      margin-top: 10px;
  }

  .news .col-md-8 {
    padding: 0;
    background: linear-gradient(to right, #89CFF0, blue);
    margin-left: 60px;
    
  }

  .news .col-md-8 p {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 16px;
  }

  /* IFRAME */

  .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.col-xs-12 p {
    display: inline-block;
}

.white-text {
    color: #fff;
}