
 body {
     background-color: #212529 !important;
 }

 .row {
     margin-left: 0 !important;
     margin-right: 0 !important;
 }
 
 /* HEADER NAVBAR */

.navbar,
.navbar-expand-sm,
.navbar-dark,
.bg-dark {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding: 0 !important;
}      

.home-page .navbar-brand {
    padding-left: 20px;
    background-image: linear-gradient(45deg, blue, red);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: 'Brush Script MT' !important;
    font-size: 80px ;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
}

.home-page .navbar-brand img {
    height: 80px;
    width: 80px;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 30px;
}

.news-page .navbar-brand {
    padding-left: 20px;
    background-image: linear-gradient(45deg, #89CFF0, blue);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: 'Brush Script MT' !important;
    font-size: 80px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.news-page .navbar-brand img {
    height: 80px;
    width: 80px;
}

.gallery-page .navbar-brand {
    padding-left: 20px; 
    font-family: 'Brush Script MT' !important;
    font-size: 80px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.gallery-page .navbar-brand img {
    height: 80px;
    width: 80px;
}

.tour-page .navbar-brand {
    padding-left: 20px;
    background-image: linear-gradient(45deg, #AFE1AF, #097969);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: 'Brush Script MT' !important;
    font-size: 80px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.tour-page .navbar-brand img {
    height: 80px;
    width: 80px;
}

ul {
    letter-spacing: 2px;
}

li {
    margin-right: 20px;
}

/* HERO IMAGE */

.hero {
    height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    width: 100%;
    height: 800px;
  } 

.hero-img {
    height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img img {
    width: 100%;
    height: 800px;
    
}

.hero-gallery {
    height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-gallery img {
    width: 100%;
    height: 800px;
}

.hero-tour {
    height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-tour img {
    width: 100%;
    height: 800px;
}

/* HERO IMAGE TEXT */

 .hero-img .center {
      color: #fff;
      font-size: 150px;
      position: absolute;
      bottom: 350px;
      left: 270px;
      font-family: 'Brush Script MT';
  }

  .hero-gallery .center {
      color: #fff;
      font-size: 200px;
      position: absolute;
      bottom: 300px;
      left: 350px;
      font-family: 'Brush Script MT';
  }

  .hero .center {
      color: #fff;
      font-size: 200px;
      position: absolute;
      bottom: 300px;
      left: 350px;
      font-family: 'Brush Script MT';
  }

  .hero-tour .center {
      color: #fff;
      font-size: 200px;
      position: absolute;
      bottom: 300px;
      left: 300px;
      font-family: 'Brush Script MT';
  }

  /* Heading */

  h2 {
      text-align: center;
      background-color: #fff;
      text-align: center;
      margin: auto;
      border-radius: 25px;
      font-family: 'Roboto';
      
      
  }

  /* ABOUT BAND SECTION */

  .about {
      background-color: #212529;
      padding-top: 30px;
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      border: seashell 3px solid;
      border-radius: 40px;
      background: linear-gradient(to right, purple, #e2062c);
  }

  .about-heading h2 {
      margin-bottom: 0;
      background-color: #212529;
      padding-top: 50px;
      color: #fff;   
      padding-bottom: 30px;
      font-size: 40px;
  }

  .about p {
      color: #fff;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
  }

  .about-band {
      background-color: #212529;
  }

  /* CONTAINER-MARKETING */

  .container-marketing {
      margin: 100px 60px 0 50px;
  }
  /* CONTAINER-MARKETING COLUMNS */
  .container-marketing .col-lg-2 {
      padding: 0 !important;
  }

  .container-marketing .col-lg-2 p {
      color: #fff;
      text-align: center;
      margin-right: 90px;
      letter-spacing: 2px;
  }

  .container-marketing .col-lg-6 {
      padding-top: 5px;
      background: linear-gradient(to right, purple, #e2062c);
  }

  .container-marketing .col-lg-6 p {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    
  }

  /* ROWS */

  .container-marketing .row {
      margin-bottom: 50px;
  }

  .container-marketing .news .row {
      margin-bottom: 50px;
  }

  .container-fluid {
      padding-left: 0 !important;
  }

  /* NEWS */

  .news .col-md-4 {
    color: #fff;
    padding: 0 50px 0 50px;
    text-align: center;
    border: seashell 3px solid;
    background: linear-gradient(to top, #6F8FAF, blue);
  }

  .news .col-md-2 h3 {
      margin-top: 10px;
  }

  .news .col-md-4 {
    padding: 0;
    color: #fff;
    border: seashell 3px solid;
  }

  .news .col-md-4 p {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 16px;
  }
  .news .no-back {
      background: none !important;
  }


  /* IFRAME */

  .nopadding {
   padding: 0 !important;
   margin: 0 ;
}

  /* CUSTOM CLASSES */
.white-text {
    color: #fff;
}

.align-text {
    text-align: center;
}

.hr-green {
    border-top: 3px solid #097969;
}

.img-left {
    float: right; 
    width: 302.828px;
}

.img-right {
    /* float: left; */
    width: 302.828px;
}

.img-size img {
    width: 430.25px; 
    height: 400px;
}

.clear {
    background: none !important;
    border: none !important;
}

.zero {
    margin: 100px 60px 100px 50px;
}


  /* TOUR DATES */

.container-fluid .col-xl-4 p {
    margin-top: 5px;
}

.tour-dates .container-fluid {
    padding-right: 0;
}

/* GALLERY STYLING */

.col-lg-3 {
    margin-bottom: 5% !important;
}

.music-sample .col-md-4 {
    margin-bottom: 5%;
}

.about-heading .white-text {
    text-align: center;
    margin: 40px 40px 40px 40px;
    font-size: 40px;
    border: seashell 2px solid;
    border-radius: 30px;
}

.music-sample .nopadding iframe {
    width: 300px;
    height: 380px;
}
/* NEWS STYLING */

.container-marketing h4 {
    text-align: center;
    margin: 0 0 40px 0;
    font-size: 50px;
}


/* MEDIA QUERIES*/



@media screen and (min-width: 280px) and (max-width: 512px) {
  .home-page .navbar-brand {
    font-size: 40px !important;
  }
  .news-page .navbar-brand {
    font-size: 40px !important;
  }
  .gallery-page .navbar-brand {
    font-size: 40px !important;
  }
  .tour-page .navbar-brand {
    font-size: 40px !important;
  }
  .home-page .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .gallery-page .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .news-page .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .tour-page .navbar-brand img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 540px) and (max-width: 1024px) {
  .home-page .navbar-brand {
    font-size: 40px !important;
  }
  .news-page .navbar-brand {
    font-size: 40px !important;
  }
  .gallery-page .navbar-brand {
    font-size: 40px !important;
  }
  .tour-page .navbar-brand {
    font-size: 40px !important;
  }
  .home-page .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .news-page .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .gallery-page .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .tour-page .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 17px !important;
  }
  li {
    margin-right: 30px;
  }
  .about {
      width: auto;
  }
  .hero .center {
    font-size: 80px !important;
    bottom: auto !important;
    left: auto !important;
  }
  .hero-img .center {
    font-size: 50px !important;
    bottom: auto !important;
    left: auto !important;
  }
  .hero-gallery .center {
    font-size: 70px !important;
    bottom: auto !important;
    left: auto !important;  
  }
  .hero-tour .center {
    font-size: 70px !important;
    bottom: auto !important;
    left: auto !important;
  }
  .img-left {
    float: none;
  }
  .img-size img {
    width: 300px;
    height: 300px;
  }
  
}

@media screen and (min-width: 768px) and (max-width:1024px) {
   .music-sample .nopadding iframe {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 280px) and (max-width: 512px) {
  .hero {
    height: 400px;
  }
  .hero-img {
    height: 400px;
  }
  .hero-gallery {
    height: 400px;
  }
  .hero-tour {
    height: 400px;
  }
  .hero img {
    height: 400px;
  }
  .hero-img img {
    height: 400px;
  }
  .hero-gallery img {
    height: 400px;
  }
  .hero-tour img {
    height: 400px;
  }
  .hero .center {
    font-size: 40px !important;
    bottom: auto !important;
    left: auto !important;
  }
  .hero-img .center {
    font-size: 30px !important;
    bottom: auto !important;
    left: auto !important;
  }
  .hero-gallery .center {
    font-size: 40px !important;
    bottom: auto !important;
    left: auto !important;
  }
  .hero-tour .center {
    font-size: 40px !important;
    bottom: auto !important;
    left: auto !important; 
  }
}

@media screen and (min-width: 280px) and (max-width: 512px) {
  .about {
    width: auto;
  }
}

@media screen and (min-width: 280px) and (max-width: 512px) {
  .col-md-12 .img-left {
    float: none;
    width: inherit;
  }
  .col-md-12 .img-right {
    float: none;
    width: inherit;
  }
  .img-size img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 280px) and (max-width: 512px) {
  .container-marketing .row {
    margin-right: -26px;
  }
  .zero {
    margin: 0 !important;
  }
  .about-heading .white-text {
    font-size: 30px;
  }
  .music-sample .nopadding iframe {
    width: 150px;
    height: 150px;
  }
}

@media screen  and (min-width: 1024px) and (max-width: 1366px) {
   .hero .center {
    font-size: 80px !important;
    bottom: auto !important;
    left: auto !important;
    }
   .hero-img .center {
    font-size: 80px !important;
    bottom: auto !important;
    left: auto !important;
   } 
   .hero-gallery .center {
    font-size: 80px !important;
    bottom: auto;
    left: auto;
   }
  .row .col-md-12 .col-lg-2 .nopadding {
    width: 0 !important;
  }
  .img-size img {
      width: 300px;
      height: 300px;
  }
  .col-lg-3 {
      width: 50% !important;
  }
  .music-sample .nopadding iframe {
    width: 200px;
    height: 200px;
  }
  .col-md-12 .img-left {
      float: none !important;
  }
}

@media screen and (min-width: 1400px) {
   .no-m {
       margin-right: 0 !important;
   }
   .icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
   }
   .icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
   }
   .facebook {
  background: #3B5998;
  color: white;
   }

.twitter {
  background: #55ACEE;
  color: white;
   }

.twitch {
  background: #6d09af;
  color: white;
   }

.spotify {
  background: #079e2d;
  color: white;
   }

.youtube {
  background: #bb0000;
  color: white;
   }

.content {
  margin-left: 75px;
  font-size: 30px;
   }
.icon-bar a:hover {
  background-color: #000;
   }
}

@media screen and (max-width: 1399px) {
    .icon-bar {
        text-align: center;
        font-size: xxx-large;
    }
    .icon-bar a {
        color: #fff;
    }
}
